<!DOCTYPE HTML>
<html lang="pt-br" ng-app="website">
<link rel="icon" href="img/favicon.jpg" />
<head>
<title>Graziela</title>
<meta property="og:title" content="teixeiraeadvogados.com - Teixeira, Direito do Consumidor, Família, Desaposentação e Sucessões">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.teixeiraeadvogados.com/">
<meta property="og:image" content="http://teixeiraeadvogados.com/img/sprite.png">
<meta property="og:site_name" content="teixeiraeadvogados.com">
<meta property="og:description" content="Advogado Teixeira Rio de Janeiro. Direito do consumidor, família, desaposentação e sucessões.">
<meta name="description" content="Teixeira e Advogados, Rio de Janeiro. Direito do consumidor, família, desaposentação e sucessões.">
<meta name="keywords" content=" advogados, advogados rio de janeiro, assessoria juridica, consultor juridico, ação indenizatória, processo por danos morais, orientação jurídica, direito de herança">
<meta name="application-name" content="Teixeiraeadvogados.com">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="teixeiraeadvogados, advogado, advocacia" >
<!-- CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" media="only screen and (max-device-width: 1024px) and (min-device-width: 610px)" href="css/ipad.css" type="text/css" />
<!-- JS -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="libs/bootstrap/js/bootstrap.min.js"></script>
<script src="libs/angular/angular.min.js"></script>
<script type="text/javascript" src="js/website.js"></script>
<!-- Latest compiled and minified JavaScript -->

<?php include_once("analyticstracking.php") ?>
</head>
<body ng-controller="MainCtrl">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="loading">
    <div class="complete-loader"><img src="img/ajax-loader.gif" /> <div class="logo-loader"></div></div>
</div>
<!-- HEADER -->
<div class="row">
	<div class="header col-lg-12">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
          
					<a ng-click="setRoute('home')" class="home"><div class="logo"><img src="img/logo.jpg"></div></a>
				</div>
				<div class="row">
  				<div class="col-lg-6 col-md-12 menu">
  					<ul>
  						<li><a ng-click="setRoute('home')" class="home">Home</a></li>
  						<li><a ng-click="setRoute('services')"  class="services">Serviços oferecidos</a></li>
              <li><a ng-click="setRoute('midia')"  class="midia">Mídia</a></li>
  						<li><a ng-click="setRoute('contact')"  class="contact">Contato</a></li>
  					</ul>
  				</div>
        </div>  
				
			</div>
		</div>
	</div>
</div>
<div class="row hide">
  <div class="mainads">
    <div class="pull-left mainadborder">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="img/img4.png" class="" alt="..." data-toggle="modal" data-target="#Allures45">
          </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <div class="arrow-left">
        </div>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <div class="arrow-right">
        </div>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid pull-left">
    
  </div>
</div>
<img class="fundo" src="">



<img class="star1 starup" src="img/star1.png">
<img class="star3 stardown" src="img/star3.png">
<img class="star4 starup" src="img/star1.png">
<img class="star5 stardown" src="img/star3.png">
<img class="star6 starup" src="img/star1.png">
<img class="star7 stardown" src="img/star3.png">
<img class="star8 starup" src="img/star1.png">
<img class="star9 stardown" src="img/star3.png">
<img class="star10 starup" src="img/star1.png">
<img class="star11 stardown" src="img/star3.png">
<img class="star12 starup" src="img/star1.png">
<img class="star13 stardown" src="img/star3.png">
<img class="star14 starup" src="img/star1.png">
<img class="star15 stardown" src="img/star3.png">
<img class="star16 starup" src="img/star1.png">
<img class="star17 stardown" src="img/star3.png">
<img class="star18 starup" src="img/star1.png">
<img class="star19 stardown" src="img/star3.png">
<img class="star20 starup" src="img/star1.png">
<img class="star21 stardown" src="img/star3.png">
<img class="star22 starup" src="img/star3.png">
<img class="star23 stardown" src="img/star1.png">
<img class="star24 starup" src="img/star3.png">
<img class="star25 stardown" src="img/star1.png">




<div class="container">
	<div class="hide"> 
		

		<!-- Modal -->
		
		<div ng-view></div>
	</div>
</div>
<div class="footer">
  <div class="row">
  <div class="container"> 
    <div class="col-lg-6 col-md-12 tel">
      <span class="address">Av Cobá 145-C M 9 SM 30 Cancún, Benito Juárez; C.P. 77533</span>
    </div>
    <div class="col-lg-6 col-md-12 tel">
      <span class="call-today">Fale conosco: </span> <span class="tel-number"> 998 1 47 53 47</span><br>
    </div>
  </div>
</div>
</div>

<script type="text/javascript" src="js/javascript.js"></script>

</body>
	
</html>

