<div class="col-lg-10">
	<div class="contact-template row">
		<div class="col-lg-12 col-md-12 tel">
	      <span class="call-today">Tlf. </span> <span class="tel-number"> 998 1 47 53 47</span><br>
	    </div>
		<form role="form" name="contactform" action="enviar.php" method="POST">
			<div class="col-lg-5 contact">
			  	<div class="form-group col-lg-12">
			    	<label for="first_name">Nome</label>
			    	<input type="text" class="form-control" id="first_name" name="first_name">
			  	</div>
			  	<div class="form-group col-lg-12"> 
			    	<label for="email">E-mail</label>
			    	<input type="email" class="form-control" id="email" name="email">
			  	</div>
			  	<div class="form-group col-lg-6">
			    	<label for="telephone">Telefone</label>
			    	<input type="tel" class="form-control" id="telephone" name="telephone">
			  	</div>
		  	</div>
		  	<div class="col-lg-7 contact">
		  		<div class="form-group col-lg-12">
			    	<label for="comments">Mensagem</label>
			    	<textarea class="form-control" rows="9" name="comments"></textarea>
			  	</div>
			  	<div class="col-lg-6">
			  		<button type="submit" class="btn btn-primary" value="Submit">Enviar</button>
			  	</div>	
		  	</div>
		</form>
	</div>	
</div>	