<div class="col-lg-7">
  <div class="row maincontent">
    <div class="col-lg-7">
      <div class="bs-example bs-example-tabs">
        <ul id="myTab" class="nav nav-tabs">
          <li class="active"><a href="#sobre" data-toggle="tab">Sobre</a></li>
          <li class=""><a href="#apsicologa" data-toggle="tab">A psicóloga</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="sobre">
             Psicoterapia Humanista con el principal objetivo de lograr el bienestar integral del individuo (físico, mental y espiritual) para facilitarle así su adaptación a las situaciones que enfrenta, a partir de un ambiente cálido, de respeto y comprensión.
          </div>
          <div class="tab-pane fade" id="apsicologa">
             My full name is Adriana Santaella Castell I graduated as a Educative Psychologist and have a Master Degree in Humanistic Psychotheraphy I have 25 years of experience as Psychologist; 10 years as Professor at different Universitys and as Psychotheraphist My professional adress is: Av Cobá 145-C M 9 SM 30 Cancún, Benito Juárez; C.P. 77533<br>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <img src="img/psicologa.jpg" class="psicologafoto">
    </div>
  </div>
</div>
<div class="modal fade" id="Abbott36" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Abbott 36</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <img src="img/abbott_36_photo.jpg">
          </div>
          <div class="col-lg-12">
            <img src="img/abbott_36_drawing.jpg">
          </div>
          <div class="col-lg-6">
            <br>
            <strong>Hull Type:</strong><br>
             Fin w/spade rudder<br>
            <br>
            <strong>LOA:</strong><br>
             36.25' / 11.05m <br>
            <br>
            <strong>Beam:</strong><br>
             10.00' / 3.05m <br>
            <br>
            <strong>Draft (max.):</strong><br>
             6.00' / 1.83m<br>
            <br>
            <br>
            <strong>Disp.:</strong><br>
             10000 lbs./ 4536 kgs. <br>
            <br>
            <strong>SA/Disp.:</strong><br>
             19.33 <br>
            <br>
            <strong>Designer:</strong><br>
             Bill Abbott Sr.<br>
            <br>
            <strong>Builder:</strong><br>
             Abbott Boats Ltd. (CAN)<br>
            <br>
            <strong>Construct.:</strong><br>
             FG Foam Core <br>
            <br>
            <strong>First Built:</strong><br>
             1985 <br>
            <br>
            <h4>RIG DIMENSIONS KEY</h4>
            <strong>I:</strong><br>
             39.92' / 12.17m<br>
            <br>
            <strong>J:</strong><br>
             12.75' / 3.89m<br>
            <br>
            <strong>P:</strong><br>
             42.00' / 12.80m <br>
            <br>
            <strong>E:</strong><br>
             14.50' / 4.42m<br>
            <br>
            <strong>PY:</strong><br>
            <strong>EY:</strong><br>
            <br>
            <strong>SPL:</strong><br>
            <br>
            <br>
            <strong>ISP:</strong><br>
            <br>
            <br>
            <strong>SA(Main):</strong><br>
             304.50 ft2 / 28.29 m2<br>
            <br>
            <br>
            <br>
            <strong>DL ratio:</strong><br>
             183.05 <strong>SA(Fore.):</strong><br>
            254.49 ft2 / 23.64 m2<br>
            <br>
            <strong>Total(calc.)SA:</strong><br>
             558.99 ft2 / 51.93 m2<br>
            <br>
            <strong>SA/Disp:</strong><br>
             19.33<br>
            <br>
            <strong>Est. Forestay Len.:</strong><br>
             41.91' / 12.77m<br>
            <br>
            <h4>AUXILIARY POWER (orig. equip.)</h4>
            <strong>Make:</strong><br>
             Volvo<br>
            <br>
            <strong>Type:</strong><br>
             Diesel <br>
            <br>
            <strong>HP:</strong><br>
             18<br>
            <br>
            <strong>Model:</strong><br>
            <br>
            <br>
            <h4>TANKS</h4>
            <strong>Water:</strong><br>
             50 gals. / 189 ltrs. <br>
            <br>
            <strong>Fuel:</strong><br>
             10 gals. / 38 ltrs.<br>
            <br>
            <h4>BUILDERS (past & present)</h4>
            <strong>More about & boats built by:</strong> Abbott Boats Inc.<br>
            <br>
            <h4>RELATED LINKS</h4>
            <strong>Abbott Boats</strong> www.abbottboats.com<br>
            <br>
            <h4>NOTES</h4>
             Deep Keel draft: 6.5'/1.98m<br>
            <br>
          </div>
          <div class="col-lg-6">
            <br>
            <strong>Rig Type:</strong><br>
             Fractional Sloop<br>
            <br>
            <strong>LWL:</strong><br>
             29.00' / 8.84m<br>
            <br>
            <strong>Listed SA:</strong><br>
             559 ft2 / 51.93 m2<br>
            <br>
            <strong>Draft (min.)</strong><br>
            <br>
            <br>
            <br>
            <strong>Ballast:</strong><br>
             4475 lbs. / 2030 kgs.<br>
            <br>
            <strong>Bal./Disp.:</strong><br>
             44.75%<br>
            <br>
            <strong>Disp./Len.:</strong><br>
             183.05<br>
            <br>
            <strong>Bal. type:</strong><br>
             Lead <br>
            <br>
            <strong>Last Built:</strong><br>
            <br>
            <br>
            <strong># Built:</strong><br>
            <br>
            <br>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->