<div class="col-lg-8">
	<div class="location-template row">
		<div class="col-lg-12 col-md-12 tel">
	      <span class="address">Av Cobá 145-C M 9 SM 30 Cancún, Benito Juárez; C.P. 77533</span>
	    </div>
	    <div class="col-lg-12 col-md-12 tel">
		<iframe id="maps" width="100%" height="600" style="margin-top:0px;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?q=estacionamento&amp;ie=UTF8&amp;hq=estacionamento&amp;hnear=Rio+de+Janeiro&amp;ll=-22.941722,-43.191787&amp;spn=0.101255,0.042719&amp;t=m&amp;output=embed"></iframe>
		</div>
	</div>
</div>