<div class="profile-template row">
	<br>
	<div class="col-lg-12 col-xs-12 col-sm-6 col-md-6 pull-left yachtlist">
		<ul>
			<li data-toggle="modal" data-target="#Abbott36">Abbott 36</li><br>
			<li data-toggle="modal" data-target="#Able42">Able 42</li><br>
			<li data-toggle="modal" data-target="#Aerodyne43">Aerodyne 43</li><br>
			<li data-toggle="modal" data-target="#Aerodyne47">Aerodyne 47</li><br>
			<li data-toggle="modal" data-target="#Alajuela38">Alajuela 38</li><br>
			<li data-toggle="modal" data-target="#Alden52">Alden 52</li><br>
			<li data-toggle="modal" data-target="#Alden54">Alden 54</li><br>
			<li data-toggle="modal" data-target="#Allures40">Allures 40</li><br>
			<li data-toggle="modal" data-target="#Allures44">Allures 44</li><br>
			<li data-toggle="modal" data-target="#Allures45">Allures 45</li><br>
			<li data-toggle="modal" data-target="#Allures51">Allures 51</li><br>
			<li data-toggle="modal" data-target="#Alubat58">Alubat 58</li><br>
			<li data-toggle="modal" data-target="#Arcona400">Arcona 400</li><br>
		</ul>
	</div>
	<br>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Allures 45</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12">
                  <img src="img/allures_45_photo.jpg">
                </div>
            <div class="col-lg-6">
              <br>
<strong>Hull Type:</strong><br> Keel/CB w/twin rudders<br><br> 

<strong>LOA:</strong><br> 45.87' / 13.98m <br><br> 

<strong>Beam:</strong><br> 14.53' / 4.43m <br><br> 

Draft <br><br> 

(max.) 9.84' / 3.00m <br><br> 

Disp. 26014 lbs./ 11800 kgs. <br><br> 

<strong>SA/Disp.:</strong><br> 19.69 <br><br> 

<strong>Designer:</strong><br> Berret-Racoupeau / Franck Darnet<br><br> 

<strong>Builder:</strong><br> Allures Yachting (FRA)<br><br> 

<strong>Construct.:</strong><br> ALU <br><br> 

<strong>First Built:</strong><br> 2011 <br><br> 

<h4>TANKS</h4> 

<strong>Water:</strong><br> 145 gals. / 549 ltrs.<br><br> 

<h4>BUILDERS</h4> (past & present)
<strong>More about & boats built by:</strong>   Allures Yachting (FRA)<br><br> 

<h4>DESIGNER</h4>
More about & boats designed by:    Berret-Racoupeau<br><br> 
</div>

<div class="col-lg-6">
  <br>
  <strong>Rig Type:</strong><br> Fractional Sloop<br><br> 
  <strong>LWL:</strong><br> <br><br> 
  <strong>Listed SA:</strong><br> 1076 ft2 / 99.96 m2<br><br> 
  Draft (min.) 3.44' / 1.05m<br><br> 
  <strong>Ballast:</strong><br> 9700 lbs. / 4400 kgs.<br><br> 
  <strong>Bal./Disp.:</strong><br> 37.29% Disp./Len.: <br><br> 
  <strong>Bal. type:</strong><br> <br><br> 
  <strong>Last Built:</strong><br>  # Built: <br><br> 
  <strong>Fuel:</strong><br> 145 gals. / 549 ltrs.<br><br> 
</div></div>



            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</diV>
