<div class="col-lg-8">
	<div class="areas-template row">
		<br>
		<div class="panel-group col-lg-12" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					<span class="area-arrow">&#9658;</span> Família </a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse">
					<div class="panel-body">
						- Divisão de Bens<br>
						- Casamento<br>
						- União Estável<br>
						- Pensões<br>
						- Separação, Divórcio<br>
						- Guarda de Menores<br>
						- Tutela e Curatela<br>
						- Parentesco<br>
						- Filiação<br>
						- Adoção<br>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
					<span class="area-arrow">&#9658;</span> Sucessões </a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body">
						- Herança<br>
						- Testamentos<br>
						- Legado<br>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					<span class="area-arrow">&#9658;</span> Consumidor </a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse">
					<div class="panel-body">
						- Venda casada<br>
						- Desrespeito ao prazo de entrega do produto ou de término de serviço<br>
						- Aumento abusivo de preços<br>
						- Quebra de cláusula contratual<br>
	                                        - Serviço prestado de forma inadequada
					</div>
				</div>
			</div>
		</div>
		<br>
	</div>	
</div>	